name: Test
on:
  push:
    branches:
      - master
  pull_request_target:

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.1'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.7
      - name: test
        run: make test
      - name: Test Report Summary
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
          name: test-report
          path: "build/reports.xml"
          reporter: java-junit
      - uses: k1LoW/octocov-action@v1
